body, html {
    background-color: #222;
    color: #aaa;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    line-height: 1.6;
    background-color: #050505;
}

h1 {
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    text-align: center;
    font-size: 2em;
    border-bottom: 1px solid #666;
    padding: 0.5em;
    margin: 0 0 0.5em;
}

.sub-heading {
    font-family: 'Roboto', sans-serif;
    display: block;
    font-size: 0.5em;
    font-weight: normal;
}

.featured-image {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-image: url(/pozzobon.jpg);
    background-position: center;
    background-size: cover;
}

.main {
    position: absolute;
    top: 0;
    padding: 10vh 4vw 2vh;
    font-size: 3.5vw;
    background-color: rgba(0,0,0,0.5);
    min-height: 88vh;
    text-align: center;
}

@media (min-width: 767px) {
    .main {
        font-size: 2.8vw;
    }
}

@media (min-width: 1020px) {
    .main {
        margin-left: 30vw;
        background-color: transparent;
        font-size: 1.9vw;
    }

    .featured-image {
        width: 30vw;
    }
}

@media (min-width: 1200px) {
    .main {
        font-size: 1.5vw;
    }
}

.mission {
    font-size: 1.4em;
    margin: 2em 0;
}

a {
    color: #FFF;
    text-decoration: none;
}
